<div id="banner">
	<div class="outline"></div>
	<div class="frame frame1">
		
		<img src="./images/bg.jpg" inline />
		<div id="sparkMain">
			<img id="bg-spark" src="./images/bg-spark.jpg" inline>
			<img id="spark" src="../_common/images/spark.png" inline>
		</div>
		

		<!-- <img src="./frames/f2.jpg" alt=""> -->
		<div id="wrapper">
			<img id="shape-bg" src="./images/shape-bg.svg" inline />
			<p class="text"  id="t1">You don’t have to make direct contact<br/>with a powerline for it to kill you<span>.</span></p>
			<p class="text" id="t2">Always stay three metres (10 ft.)<br/>away from powerlines<span>.</span></p>
		</div>


	</div>
	<div class="frame frame2">
		<!-- <img class="trace" src="./frames/f3.jpg" alt=""> -->
		<p id="f2-a">This message is brought to you by</p>
		<p id="f2-b">8,000</p>
		<p id="f2-c">volts.</p>
	</div>

	<div class="frame frame3">
		<!-- <img class="trace" src="./frames/f4.jpg" alt=""> -->
		<img id="logo" src="../_common/images/logo_orange.svg" inline />
		<p id="cta" class="orange">Get more safety tips</p>

		<p id="hash">#RespectThePower</p>

	</div>


</div>