<div id="banner">
	<div class="outline"></div>
	<div class="frame frame1">
		
		<img src="./images/bg.jpg" inline />
		<img id="bg2" src="./images/bg2.jpg" inline />

		<!-- <img src="./frames/f2.jpg" alt=""> -->
		<img id="spark" src="./images/spark.png" inline>

		
		<div id="wrapper">
			<img id="shape-bg" src="./images/shape-bg.svg" inline />
			<p class="text"  id="t1">One wrong decision<br/>won’t just impact you<span>.</span></p>
			<p class="text" id="t2">It can harm or kill<br/>your entire crew<span>.</span></p>
		</div>


	</div>
	<div class="frame frame2">
		<!-- <img class="trace" src="./frames/f4.jpg" alt=""> -->
		<p id="f2-a">This message is<br/>brought to you by</p>
		<p id="f2-b">44,000</p>
		<p id="f2-c">volts.</p>
	</div>

	<div class="frame frame3">
		<!-- <img class="trace" src="./frames/f5.jpg" alt=""> -->
		<img id="logo" src="./images/logo.png" inline />
		<p id="cta">Get more safety tips</p>

		<p id="hash">#RespectThePower</p>

	</div>


</div>